<mat-carousel timings="250ms ease-in" [autoplay]="true" [interval]="interval" color="accent" maxWidth="auto"
    [proportion]="proportion" [slides]="totalSlides" [loop]="true" [hideArrows]="false" [hideIndicators]="false"
    [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
        overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
</mat-carousel>

<div class="offer">
    <img src="./assets/images/offer.jpg" />
</div>
<div class="tending">
    <h1>Trending jeans</h1>

    <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let slide of trendingSlides">
            <ng-template carouselSlide [id]="slide.id">
                <mat-card>
                    <mat-card-content>
                        <img class="card_image" [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                    </mat-card-content>
                    <mat-card-footer>
                        <p class="product_name">Bare Denin Dark Blue..</p>
                        <p class="price">&#x20b9;499</p>
                        <p class="old_price">Was &#x20b9;799</p>
                    </mat-card-footer>
                </mat-card>
            </ng-template>
        </ng-container>

    </owl-carousel-o>

</div>

<div class="tending">
    <h1>Women's jeans</h1>

    <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let slide of trendingSlides">
            <ng-template carouselSlide [id]="slide.id">
                <mat-card>
                    <mat-card-content>
                        <img class="card_image" [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                    </mat-card-content>
                    <mat-card-footer>
                        <p class="product_name">Bare Denin Dark Blue..</p>
                        <p class="price">&#x20b9;499</p>
                        <p class="old_price">Was &#x20b9;799</p>
                    </mat-card-footer>
                </mat-card>
            </ng-template>
        </ng-container>

    </owl-carousel-o>

</div>

<div class="tending">
    <h1>Men's jeans</h1>

    <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let slide of menSlides">
            <ng-template carouselSlide [id]="slide.id">
                <mat-card>
                    <mat-card-content>
                        <img class="card_image" [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                    </mat-card-content>
                    <mat-card-footer>
                        <p class="product_name">Bare Denin Dark Blue..</p>
                        <p class="price">&#x20b9;499</p>
                        <p class="old_price">Was &#x20b9;799</p>
                    </mat-card-footer>
                </mat-card>
            </ng-template>
        </ng-container>

    </owl-carousel-o>

</div>